body {
  display: flex;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #e0f7ff;
}

h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #2e2e2e;
  text-decoration: underline;
}

h4 {
  background-color: #b4ebc6;
  padding: 20px;
  text-align: center;
}

textarea {
  width: 300px;
  height: 300px;
}

.form-email {
  width: 350px;
}

ul {
  display: grid;
  font-size: larger;
}

footer {
  border-bottom: #2e2e2e;
}


